<% layout("/layouts/boilerplate.ejs") %>
<div class="row">
  <div class="col-8 offset-2">
    <body>
      <br />
      <h3>Create a new listing</h3>
      <br />
      <form
        method="POST"
        action="/listings"
        novalidate
        class="needs-validation"
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            name="listing[title]"
            placeholder="Enter title"
            class="form-control"
            required
          />
          <div class="valid-feedback">Title look's good</div>
          <div class="invalid-feedback">Please enter a valid title</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            name="listing[description]"
            class="form-control"
            cols="30"
            rows="3"
            placeholder="Enter an apt description"
            required
          ></textarea>
          <div class="invalid-feedback">Please enter a valid description</div>
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Upload Listing Image</label>
          <input
            name="listing[image]"
            type="file"
            class="form-control"
            required
          />
        </div>

        <div class="row">
          <div class="mb-3 col-md-6">
            <label for="price" class="form-label">Price</label>
            <input
              name="listing[price]"
              placeholder="Enter the price per night"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Please enter a valid price</div>
          </div>
          <div class="mb-3 col-md-6">
            <label for="country" class="form-label">Country</label>
            <input
              type="text"
              name="listing[country]"
              placeholder="Enter the country"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Please enter a country name</div>
          </div>
        </div>
        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            type="text"
            name="listing[location]"
            placeholder="Enter the Location"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter a location</div>
        </div>

        <br />
        <button class="btn add-btn">Add Listing</button>
        <br />
        <br />
      </form>
    </body>
  </div>
</div>
